# *.jpg
# *.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg
*.pkl
*.pt
*.zip
*.pth

/annotations
/test2017
/train2017
/unlabeled2017
/val2017
/visualization_results
/COCO_dataset